.page {
  padding: 100px 6vw;
  text-align: center;
  min-height: 50vh;
}
.page>p {
  font-size: var(--text-xs);
  color: var(--muted);
}
.page h1 {
  font-size: var(--text-3xl);
  margin: 25px auto;
  max-width: 650px;
}
.page a {
  display: inline-block;
  background: var(--orange);
  color: #fff;
  padding: 13px 25px;
  margin-top: 30px;
  font-size: var(--text-xs);
}
